<p class="title">All lights</p>

<div ng-if="lights">
	<div ng-if="!lights.length">
		<p>Looks like you don't have any lights. Add them from the <a href="/editor">editor.</a></p>
	</div>

	<div ng-if="lights.length" ng-repeat="light in lights" ng-class="light.isTurnedOn() ? 'status-on' : 'status-off'">
		<div class="row">
			<div class="col-xs-2 mod-margin-small">
				<light-toggle light="light">
				</light-toggle>
			</div>	

			<div class="col-xs-6">
				<p class="title">{{light.name}}</p>
			</div>
			
			<div class="col-xs-8">
				<span ng-if="light.description">
					Description: <small> {{light.description }}</small> <br>
				</span>
				On floorplan: <small> {{light.floorplan.name }}</small>
			</div>	
		</div>
		<hr>
	</div>
</div>