<div ng-repeat="scene in scenes">
	<div class="row">
		<h2> {{scene.name}} </h2>

		<div class="col-xs-4"></div>

		<div class="col-xs-8">
			Description: <small> {{scene.description }}</small> <br>
			On floorplan: <small> {{scene.floorplan.name }}</small> <br>
		</div>

		<div ng-if="scene.hasLights()">
			<scene-toggle scene="scene"></scene-toggle>
		</div>

		<div ng-if="!scene.hasLights()">
			<p>Scene empty, can't toggle.</p>
		</div>

		<div ng-repeat="light in scene.lights">
			<h4>{{light.name}}</h4>
			<small> {{ light.isTurnedOn() ? 'ON' : 'OFF' }}</small>
		</div>
	</div>
	<hr>
</div>