<div class="row">
	<div class="col-xs-2">
		<h3>floorplans</h3>
		<div ng-repeat="floorplan in floorplans">
			<a href ng-click="selectFloorplan(floorplan)">
				- {{ floorplan.name }}
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>

		<a href="editor" class="btn btn-primary">
			Add new floorplan
		</a>
	</div>

	<div class="col-xs-8">
		<div ng-if="selectedFloorplan">
			<h2>
				{{ selectedFloorplan.name }}
				<small>
					<a href="/editor/{{selectedFloorplan.id}}">edit</a>
				</small>
			</h2>
			<!-- TODO: hook up popover and actions here -->
			<floorplan-renderer
				floorplan="selectedFloorplan" 
				on-floorplan-click=""
				on-popover-save=""
				popover="">
			</floorplan-renderer>	
		</div>
	</div>

	<div class="col-xs-2">
		TODO: add scenes list here
	</div>	
</div>
