<h1>dashboard</h1>

<div class="row">
	<div class="col-xs-2"> 
		<div ng-repeat="floorplan in floorplans">
			<a href ng-click="selectFloorplan(floorplan)">
				- {{ floorplan.name }}
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>

		<a href="editor">
			Add new floorplan
		</a>
	</div>

	<div class="col-xs-8">
		<h2>
			{{ selectedFloorplan.name }}
			<a href="/editor/{{selectedFloorplan.id}}" class="btn btn-primary pull-right">edit</a>
		</h2>

		<floorplan-renderer
			floorplan="selectedFloorplan" 
			on-floorplan-click=""
			on-popover-save=""
			popover="">
		</floorplan-renderer>
	</div>

	<div class="col-xs-2">
		TODO: add scenes list here
	</div>	
</div>
