<h1>dashboard</h1>

<div class="row">
	<div class="col-xs-2"> 
		<div ng-repeat="floorplan in floorplans">
			<a href ng-click="selectFloorplan(floorplan)">
				- {{ floorplan.name }} >
			</a>
		</div>

		<a href="editor">
			Add new floorplan
		</a>
	</div>

	<div class="col-xs-8">
		<h2>
			{{ selectedFloorplan.name }}
		</h2>

		<ul> 
			<li ng-repeat="light in selectedFloorplan.lights"> {{light.name}} -- {{light.intensity}} </li>
		</ul>
	</div>

	<div class="col-xs-2">
		<div ng-repeat="floorplan in floorplans">
			<a href ng-click="selectFloorplan(floorplan)">
				- {{ floorplan.name }} >
			</a>
		</div>
	</div>	
</div>
