<h1>Add new floorplan</h1>

<div ng-if="!isEditMode">
	<h4>First, you'll need to upload an floorplan image.</h4>
	<upload-form on-submit="uploadImage"> </upload-form>
</div>

<form ng-if="isEditMode" ng-submit="saveFloorplan()" ng-class="isLightPositionPhase ? 'col-xs-3' : 'col-xs-6 centered'">
	<text-box model="floorplan.name" label="Name"> </text-box>

	<text-area model="floorplan.description" label="Description"> </text-area>

	<button class="btn btn-primary" ng-click="saveFloorplan()">
		<span ng-if="isLightPositionPhase">Save changes</span>
		<span ng-if="!isLightPositionPhase">Create</span>
	</button>
</form>

<div ng-if="isEditMode && isLightPositionPhase">
	<h4>Click on floorplan to add lights</h4>

	<floorplan-renderer
		floorplan="floorplan"
		light="light"
		on-marker-click="onMarkerClick"
		on-floorplan-click="onFloorplanClick"
		popover="popover">
	</floorplan-renderer>
</div>
