<div>
	<h3>scenes</h3>
	<div ng-if="!scenes.length">
		<small> No scenes here. Toggle edit mode to add a scene.</small>
	</div>

	<ul>
		<li ng-repeat="scene in scenes | filter: { floorplanId: floorplanId}">
			{{ scene.name }}
			<scene-toggle scene="scene" on-toggle="onSceneToggle"></scene-toggle>
		</li>
	</ul>

	<div href ng-if="isEditMode">
		Add new scene:
		<text-box label="Name" model="newScene.name"></text-box>
		<text-box label="Description" model="newScene.description"></text-box>

		<button ng-click="addScene()" class="btn btn-primary btn-small">
			Add
		</button>
	</div>
</div>