<div>
	<h3>Scenes</h3>
	<div ng-if="!scenes.length">
		<small> No scenes here. Toggle edit mode to add a scene.</small>
	</div>

	<div ng-repeat="scene in scenes | filter: { floorplanId: floorplanId}">

		<div class="col-xs-6">
			{{ scene.name }}
		</div>

		<div class="col-xs-6">
			<scene-toggle scene="scene" on-toggle="onSceneToggle"></scene-toggle>
		</div>
	</div>

	<div href ng-if="isEditMode">
		Add new scene:
		<text-box label="Name" model="newScene.name"></text-box>
		<text-box label="Description" model="newScene.description"></text-box>

		<button ng-click="addScene()" class="btn btn-primary btn-small">
			Add
		</button>
	</div>
</div>