img.floorplan-image {
	width: 500px;
}

image-marker {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 2px solid blue;
    margin-top: -40px;
    margin-left: -40px;
    background: rgba(255, 255, 0, 0.7); 
    opacity: 0.5;
    border-radius: 50%;
}

div.status-on {
    background: rgba(255, 255, 0, 0.2);;
}

div.status-off {
    background: white;
}

div.selected {
    background: rgba(10, 50, 200, 0.1);
}

div.floorplan-slat {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}

div.floorplan-slat > a {
    margin-left: 10px;
}

p.description {
    color: #777;
    font-style: italic;
}

p.title {
    font-size: 200%;
}

div.centered {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}